<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>S</servlet-name>
		<servlet-class>S</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>S</servlet-name>
		<url-pattern>/S</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/Servlet2</url-pattern>
	</servlet-mapping>
























	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/First</url-pattern>
	</servlet-mapping>

	

	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>Second</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>

	




</web-app>
